.roundButton {
  border-radius: 50%;
  background-color: white;
  box-shadow: var(--PagingButton_shadow);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  &:active {
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);
    margin-top: 1px;
    margin-bottom: -1px;
  }
}

.arrowButton {
  font-size: 20px;
  padding-bottom: 1px;
}
